In [3]:
import requests

from bs4 import BeautifulSoup
import pandas as pd
import time

# URL of the website to scrape
url = "https://fbref.com/en/comps/9/Premier-League-Stats"

# Send an HTTP GET request to the website
response = requests.get(url)
# Parse the HTML code using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

In [4]:
teams = []
teams_name=[]
href='https://fbref.com/'
for team in soup.find_all("td", attrs={"data-stat": "team"}):
    team_link = team.find('a')
    team_href = team_link.get("href")
    team_href = href+team_href
    teams.append(team_href)
    teams_name.append(team_link.text)
time.sleep(1)

In [6]:
teams_name

['Arsenal',
 'Liverpool',
 'Manchester City',
 'Aston Villa',
 'Tottenham',
 'Manchester Utd',
 'West Ham',
 'Brighton',
 'Wolves',
 'Newcastle Utd',
 'Chelsea',
 'Fulham',
 'Bournemouth',
 'Crystal Palace',
 'Brentford',
 'Everton',
 'Luton Town',
 "Nott'ham Forest",
 'Burnley',
 'Sheffield Utd',
 'Arsenal',
 'Liverpool',
 'Manchester City',
 'Aston Villa',
 'Tottenham',
 'Manchester Utd',
 'West Ham',
 'Brighton',
 'Wolves',
 'Newcastle Utd',
 'Chelsea',
 'Fulham',
 'Bournemouth',
 'Crystal Palace',
 'Brentford',
 'Everton',
 'Luton Town',
 "Nott'ham Forest",
 'Burnley',
 'Sheffield Utd']

In [12]:
def merge_levels(column):
    col = column.split('?')
    if col[0] == 'Per 90 Minutes':
        return col[1] + '/90'
    else:        
        return col[1]

def get_team_stats(url,team_name):
    # Retrieve HTML content from the URL
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    # Find the table containing the team stats
    table_tags = soup.find_all('table', attrs={'id': 'stats_standard_9'})
    if not table_tags:
        print("No table found with id 'stats_standard_9'.")
        return None

    # Read the table into a DataFrame
    df = pd.read_html(str(table_tags[0]))[0]

    # Merge MultiIndex levels and drop 'Matches' column
    df.columns = df.columns.map('?'.join)
    df.columns = df.columns.map(merge_levels)
    df.drop('Matches', axis=1, inplace=True)

    # Extract team name from URL
#     team_name = url.split('/')[-1].split('-')[0]
    df['Team'] = team_name
    
    df = df[~df['Player'].isin(['Opponent Total', 'Squad Total'])]

    return df

# Example function call
df1 = get_team_stats(teams[0],teams_name[0])
# df2 = get_team_stats(teams[1])

In [18]:
df_teams

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,Ast/90,G+A/90,G-PK/90,G+A-PK/90,xG/90,xAG/90,xG+xAG/90,npxG/90,npxG+xAG/90,Team
0,William Saliba,fr FRA,DF,23-001,28,28,2520.0,28.0,2.0,1.0,...,0.04,0.11,0.07,0.11,0.05,0.01,0.06,0.05,0.06,Arsenal
1,Declan Rice,eng ENG,MF,25-071,28,28,2391.0,26.6,6.0,5.0,...,0.19,0.41,0.23,0.41,0.08,0.14,0.22,0.08,0.22,Arsenal
2,Bukayo Saka,eng ENG,FW,22-202,27,27,2262.0,25.1,13.0,8.0,...,0.32,0.84,0.36,0.68,0.46,0.33,0.79,0.33,0.66,Arsenal
3,Martin Ødegaard,no NOR,MF,25-099,25,25,2208.0,24.5,6.0,6.0,...,0.24,0.49,0.16,0.41,0.23,0.25,0.48,0.16,0.41,Arsenal
4,Ben White,eng ENG,DF,26-169,27,25,2134.0,23.7,2.0,4.0,...,0.17,0.25,0.08,0.25,0.03,0.10,0.13,0.03,0.13,Arsenal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1206,Luke Plange,eng ENG,FW,21-142,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Crystal Palace
1207,Jadan Raymond,wls WAL,MF,20-162,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Crystal Palace
1208,Kaden Rodney,eng ENG,MF,19-170,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Crystal Palace
1209,Franco Umeh-Chibueze,ie IRL,MF,19-059,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Crystal Palace
1210,Joseph Whitworth,eng ENG,GK,20-025,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Crystal Palace

In [14]:
import pandas as pd

df_teams = pd.DataFrame()

i=0
for team in teams:
    df_team = get_team_stats(team,teams_name[i])
    df_teams = pd.concat([df_teams, df_team], ignore_index=True)
    print(team)
    i=i+1
# Now, df_teams contains all the data from df_team DataFrames
time.sleep(1)

https://fbref.com//en/squads/18bb7c10/Arsenal-Stats
https://fbref.com//en/squads/822bd0ba/Liverpool-Stats
https://fbref.com//en/squads/b8fd03ef/Manchester-City-Stats
https://fbref.com//en/squads/8602292d/Aston-Villa-Stats
https://fbref.com//en/squads/361ca564/Tottenham-Hotspur-Stats
https://fbref.com//en/squads/19538871/Manchester-United-Stats
https://fbref.com//en/squads/7c21e445/West-Ham-United-Stats
https://fbref.com//en/squads/d07537b9/Brighton-and-Hove-Albion-Stats
https://fbref.com//en/squads/8cec06e1/Wolverhampton-Wanderers-Stats
https://fbref.com//en/squads/b2b47a98/Newcastle-United-Stats
https://fbref.com//en/squads/cff3d9bb/Chelsea-Stats
https://fbref.com//en/squads/fd962109/Fulham-Stats
https://fbref.com//en/squads/4ba7cbea/Bournemouth-Stats
https://fbref.com//en/squads/47c64c55/Crystal-Palace-Stats
https://fbref.com//en/squads/cd051869/Brentford-Stats
https://fbref.com//en/squads/d3fd31cc/Everton-Stats
https://fbref.com//en/squads/e297cd13/Luton-Town-Stats
https://fbref.com//en/squads/e4a775cb/Nottingham-Forest-Stats
https://fbref.com//en/squads/943e8050/Burnley-Stats
https://fbref.com//en/squads/1df6b87e/Sheffield-United-Stats
https://fbref.com//en/squads/18bb7c10/Arsenal-Stats
https://fbref.com//en/squads/822bd0ba/Liverpool-Stats
https://fbref.com//en/squads/b8fd03ef/Manchester-City-Stats
https://fbref.com//en/squads/8602292d/Aston-Villa-Stats
https://fbref.com//en/squads/361ca564/Tottenham-Hotspur-Stats
https://fbref.com//en/squads/19538871/Manchester-United-Stats
https://fbref.com//en/squads/7c21e445/West-Ham-United-Stats
https://fbref.com//en/squads/d07537b9/Brighton-and-Hove-Albion-Stats
https://fbref.com//en/squads/8cec06e1/Wolverhampton-Wanderers-Stats
https://fbref.com//en/squads/b2b47a98/Newcastle-United-Stats
https://fbref.com//en/squads/cff3d9bb/Chelsea-Stats
https://fbref.com//en/squads/fd962109/Fulham-Stats
https://fbref.com//en/squads/4ba7cbea/Bournemouth-Stats
https://fbref.com//en/squads/47c64c55/Crystal-Palace-Stats
No table found with id 'stats_standard_9'.
https://fbref.com//en/squads/cd051869/Brentford-Stats
No table found with id 'stats_standard_9'.
https://fbref.com//en/squads/d3fd31cc/Everton-Stats
No table found with id 'stats_standard_9'.
https://fbref.com//en/squads/e297cd13/Luton-Town-Stats
No table found with id 'stats_standard_9'.
https://fbref.com//en/squads/e4a775cb/Nottingham-Forest-Stats
No table found with id 'stats_standard_9'.
https://fbref.com//en/squads/943e8050/Burnley-Stats
No table found with id 'stats_standard_9'.
https://fbref.com//en/squads/1df6b87e/Sheffield-United-Stats

In [152]:
df_teams.groupby('Team').count()

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,Gls/90,Ast/90,G+A/90,G-PK/90,G+A-PK/90,xG/90,xAG/90,xG+xAG/90,npxG/90,npxG+xAG/90
Team,,,,,,,,,,,,,,,,,,,,,
Arsenal,64,64,64,64,64,64,50,50,50,50,...,50,50,50,50,50,50,50,50,50,50
Aston,72,72,72,72,72,72,56,56,56,56,...,56,56,56,56,56,56,56,56,56,56
Bournemouth,35,35,35,35,35,35,28,28,28,28,...,28,28,28,28,28,28,28,28,28,28
Brentford,36,36,36,36,36,36,28,28,28,28,...,28,28,28,28,28,27,27,27,27,27
Brighton,72,72,72,72,72,72,54,54,54,54,...,54,54,54,54,54,54,54,54,54,54
Burnley,33,33,33,33,33,33,31,31,31,31,...,31,31,31,31,31,31,31,31,31,31
Chelsea,43,43,43,43,43,43,30,31,31,31,...,30,30,30,30,30,30,30,30,30,30
Crystal,36,36,36,36,36,36,26,26,26,26,...,26,26,26,26,26,26,26,26,26,26
Everton,30,30,30,30,30,30,25,25,25,25,...,25,25,25,25,25,25,25,25,25,25
Fulham,34,34,34,34,34,34,25,26,26,26,...,25,25,25,25,25,25,25,25,25,25
Liverpool,76,76,76,76,76,76,58,58,58,58,...,58,58,58,58,58,58,58,58,58,58
Luton,35,35,35,35,35,35,25,25,25,25,...,25,25,25,25,25,25,25,25,25,25
Manchester,140,138,140,140,140,140,110,110,110,110,...,110,110,110,110,110,110,110,110,110,110
Newcastle,70,70,70,70,70,70,64,64,64,64,...,64,64,64,64,64,64,64,64,64,64
Nottingham,41,41,41,41,41,41,33,33,33,33,...,33,33,33,33,33,33,33,33,33,33
Sheffield,42,41,42,41,42,42,33,33,33,33,...,33,33,33,33,33,33,33,33,33,33
Tottenham,66,66,66,66,66,66,56,56,56,56,...,56,56,56,56,56,56,56,56,56,56
West,64,64,64,64,64,64,48,48,48,48,...,48,48,48,48,48,48,48,48,48,48
Wolverhampton,74,74,74,74,74,74,50,50,50,50,...,50,50,50,50,50,50,50,50,50,50

In [19]:
df_teams.to_csv('player_stat.csv',index_label=False)