In [13]:
import pandas as pd

### Merging all the tables into 1 big tables

In [14]:
# Read all the data
defense_stats = pd.read_csv('./data/defense_stats.csv')
gca_stats = pd.read_csv('./data/gca_stats.csv')
passing_stats = pd.read_csv('./data/passing_stats.csv')
possession_stats = pd.read_csv('./data/possession_stats.csv')
shooting_stats = pd.read_csv('./data/shooting_stats.csv')

In [15]:
# Ensure that there is no duplicates
defense_stats = defense_stats.drop_duplicates()
gca_stats = gca_stats.drop_duplicates()
passing_stats = passing_stats.drop_duplicates()
possession_stats = possession_stats.drop_duplicates()
shooting_stats = shooting_stats.drop_duplicates()

In [16]:
# Selecting subset of the table
general_defense_stats = defense_stats[['Player', 'Nation', 'Pos', 'Age', '90s','Team']]
general_gca_stats = gca_stats[['Player', 'Nation', 'Pos', 'Age', '90s','Team']]
general_passing_stats = passing_stats[['Player', 'Nation', 'Pos', 'Age', '90s','Team']]
general_possession_stats = possession_stats[['Player', 'Nation', 'Pos', 'Age', '90s','Team']]
general_shooting_stats = shooting_stats[['Player', 'Nation', 'Pos', 'Age', '90s','Team']]

Upon examination, I noticed that a specific column appears redundantly in multiple tables. Therefore, I'm attempting to remove it from the original dataset before merging it later on.

In [17]:
# Concatenating all the general statistics
general_stats = pd.concat([general_defense_stats, general_gca_stats, general_passing_stats, 
                           general_possession_stats, general_shooting_stats])

general_stats.reset_index(drop=True, inplace=True)
general_stats = general_stats.drop_duplicates()

In [18]:
general_stats.head()

            Player   Nation Pos     Age   90s     Team
0   William Saliba   fr FRA  DF  23-001  28.0  Arsenal
1      Declan Rice  eng ENG  MF  25-071  26.6  Arsenal
2      Bukayo Saka  eng ENG  FW  22-202  25.1  Arsenal
3  Martin Ødegaard   no NOR  MF  25-099  24.5  Arsenal
4        Ben White  eng ENG  DF  26-169  23.7  Arsenal

In [19]:
# Stripping the Age column so it will only show the age
general_stats['Age'] = general_stats['Age'].str.split('-').str[0]

In [20]:
# Dropping the general stats
defense_stats = defense_stats.drop(['Nation', 'Pos', 'Age', '90s'], axis=1)
gca_stats = gca_stats.drop(['Nation', 'Pos', 'Age', '90s'], axis=1)
passing_stats = passing_stats.drop(['Nation', 'Pos', 'Age', '90s'], axis=1)
possession_stats = possession_stats.drop(['Nation', 'Pos', 'Age', '90s'], axis=1)
shooting_stats = shooting_stats.drop(['Nation', 'Pos', 'Age', '90s'], axis=1)

In [21]:
# Merging all the table into one
all_stats = pd.merge(defense_stats, gca_stats, on=['Player', 'Team'], how='outer')
all_stats = pd.merge(all_stats, passing_stats, on=['Player', 'Team'], how='outer')
all_stats = pd.merge(all_stats, possession_stats, on=['Player', 'Team'], how='outer')
all_stats = pd.merge(all_stats, shooting_stats, on=['Player', 'Team'], how='outer')
all_stats = pd.merge(all_stats, general_stats, on=['Player', 'Team'], how='outer')

Upon merging the data, it became evident that there was a duplicate column present. Consequently, the duplicate column received suffixes such as '_x' and '_y'. Our objective now is to eliminate this duplicate column and rename it without any suffixes.

In [22]:
column_list = list(all_stats.columns)
print(column_list)

['Player', 'Tkl', 'TklW', 'Def 3rd_x', 'Mid 3rd_x', 'Att 3rd_x', 'Tkl.1', 'Att_x', 'Tkl%', 'Lost', 'Blocks', 'Sh_x', 'Pass', 'Int', 'Tkl+Int', 'Clr', 'Err', 'Team', 'SCA', 'SCA90', 'PassLive', 'PassDead', 'TO', 'Sh_y', 'Fld', 'Def', 'GCA', 'GCA90', 'PassLive.1', 'PassDead.1', 'TO.1', 'Sh.1', 'Fld.1', 'Def.1', 'Cmp', 'Att_y', 'Cmp%', 'TotDist_x', 'PrgDist_x', 'Cmp.1', 'Att.1', 'Cmp%.1', 'Cmp.2', 'Att.2', 'Cmp%.2', 'Cmp.3', 'Att.3', 'Cmp%.3', 'Ast', 'xAG', 'xA', 'A-xAG', 'KP', '1/3_x', 'PPA', 'CrsPA', 'PrgP', 'Touches', 'Def Pen', 'Def 3rd_y', 'Mid 3rd_y', 'Att 3rd_y', 'Att Pen', 'Live', 'Att', 'Succ', 'Succ%', 'Tkld', 'Tkld%', 'Carries', 'TotDist_y', 'PrgDist_y', 'PrgC', '1/3_y', 'CPA', 'Mis', 'Dis', 'Rec', 'PrgR', 'Gls', 'Sh', 'SoT', 'SoT%', 'Sh/90', 'SoT/90', 'G/Sh', 'G/SoT', 'Dist', 'FK', 'PK', 'PKatt', 'xG', 'npxG', 'npxG/Sh', 'G-xG', 'np:G-xG', 'Nation', 'Pos', 'Age', '90s']

In [23]:
# Iterate through the columns to remove column thats ends with x or y
for column in all_stats.columns:
    if column.endswith('_x'):
        column_name_without_suffix = column[:-2]
        if column_name_without_suffix not in all_stats.columns:
            all_stats[column_name_without_suffix] = all_stats[column]
        all_stats.drop(column, axis=1, inplace=True)
    elif column.endswith('_y'):
        all_stats.drop(column, axis=1, inplace=True)

In [24]:
column_list = list(all_stats.columns)
print(column_list)

['Player', 'Tkl', 'TklW', 'Tkl.1', 'Tkl%', 'Lost', 'Blocks', 'Pass', 'Int', 'Tkl+Int', 'Clr', 'Err', 'Team', 'SCA', 'SCA90', 'PassLive', 'PassDead', 'TO', 'Fld', 'Def', 'GCA', 'GCA90', 'PassLive.1', 'PassDead.1', 'TO.1', 'Sh.1', 'Fld.1', 'Def.1', 'Cmp', 'Cmp%', 'Cmp.1', 'Att.1', 'Cmp%.1', 'Cmp.2', 'Att.2', 'Cmp%.2', 'Cmp.3', 'Att.3', 'Cmp%.3', 'Ast', 'xAG', 'xA', 'A-xAG', 'KP', 'PPA', 'CrsPA', 'PrgP', 'Touches', 'Def Pen', 'Att Pen', 'Live', 'Att', 'Succ', 'Succ%', 'Tkld', 'Tkld%', 'Carries', 'PrgC', 'CPA', 'Mis', 'Dis', 'Rec', 'PrgR', 'Gls', 'Sh', 'SoT', 'SoT%', 'Sh/90', 'SoT/90', 'G/Sh', 'G/SoT', 'Dist', 'FK', 'PK', 'PKatt', 'xG', 'npxG', 'npxG/Sh', 'G-xG', 'np:G-xG', 'Nation', 'Pos', 'Age', '90s', 'Def 3rd', 'Mid 3rd', 'Att 3rd', 'TotDist', 'PrgDist', '1/3']

### Mapping the Country Code

Initially, I intended to merge my original data with the country code table that I scraped. However, I discovered that the country codes in my original data significantly differed from the standard Alpha-3 code format. Consequently, I decided to manually map the country codes with the help of ChatGPT.

In [25]:
# Define the list of country codes and country names
country_codes = ['FRA', 'ENG', 'NOR', 'BRA', 'ESP', 'GER', 'UKR', 'BEL', 'POL',
                'ITA', 'JPN', 'GHA', 'POR', 'NED', 'EGY', 'COL', 'ARG', 'HUN',
                'URU', 'SCO', 'CMR', 'GRE', 'IRL', 'NIR', 'WAL', 'SUI', 'CRO',
                'JAM', 'SWE', 'BFA', 'KOR', 'SEN', 'MLI', 'DEN', 'ISR', 'ROU',
                'MAR', 'TUN', 'CIV', 'CZE', 'MEX', 'ALG', 'ECU', 'PAR', 'GAB',
                'AUT', 'SVK', 'SRB', 'ALB', 'USA', 'NGA', 'TUR', 'COD', 'IRN',
                'GRN', 'GNB', 'ZIM', 'NZL', 'CRC', 'RSA', 'ISL', 'TOG', 'KVX',
                'BIH', 'CHI']

country_names = ['France', 'United Kingdom', 'Norway', 'Brazil', 'Spain', 'Germany', 'Ukraine', 'Belgium', 'Poland',
                 'Italy', 'Japan', 'Ghana', 'Portugal', 'Netherlands', 'Egypt', 'Colombia', 'Argentina', 'Hungary',
                 'Uruguay', 'United Kingdom', 'Cameroon', 'Greece', 'Ireland', 'United Kingdom', 'United Kingdom', 'Switzerland', 'Croatia',
                 'Jamaica', 'Sweden', 'Burkina Faso', 'South Korea', 'Senegal', 'Mali', 'Denmark', 'Israel', 'Romania',
                 'Morocco', 'Tunisia', 'Ivory Coast', 'Czech Republic', 'Mexico', 'Algeria', 'Ecuador', 'Paraguay', 'Gabon',
                 'Austria', 'Slovakia', 'Serbia', 'Albania', 'USA', 'Nigeria', 'Turkey', 'Democratic Republic of the Congo', 'Iran',
                 'Grenada', 'Guinea-Bissau', 'Zimbabwe', 'New Zealand', 'Costa Rica', 'South Africa', 'Iceland', 'Togo', 'Kosovo',
                 'Bosnia and Herzegovina', 'Chile']

# Create the dictionary mapping country codes to country names
country_code_to_name = dict(zip(country_codes, country_names))

In [29]:
all_stats['Nation']

0       FRA
1       FRA
2       ENG
3       ENG
4       ENG
       ...
1109    ENG
1110    ENG
1111    ENG
1112    SCO
1113    SCO
Name: Nation, Length: 1114, dtype: object

In [26]:
# Split the code and retrive the first index
all_stats['Nation'] = all_stats['Nation'].str.split(' ').str[1]

In [30]:
# Map it
all_stats['Country'] = all_stats['Nation'].map(country_code_to_name)

all_stats = all_stats.drop_duplicates(subset=['Player'])

In [36]:
# Check missing values
missing_values = all_stats.isnull().sum()
missing_values

Player      0
Tkl         0
TklW        0
Tkl.1       0
Tkl%       79
           ..
Att 3rd     0
TotDist     0
PrgDist     0
1/3         0
Country     0
Length: 91, dtype: int64


Many missing values are present in the columns, primarily because some players haven't played any matches yet, resulting in NaN statistics. My solution is to fill these NaN values with zeros.

In [38]:
all_stats.fillna(0,inplace=True)

In [40]:
# Check missing values
missing_values = all_stats.isnull().sum()
missing_values

Player     0
Tkl        0
TklW       0
Tkl.1      0
Tkl%       0
          ..
Att 3rd    0
TotDist    0
PrgDist    0
1/3        0
Country    0
Length: 91, dtype: int64

In [41]:
all_stats.to_csv('./data/all_stats.csv',index_label=False)

### Cleaned the player valuation table

Because I scrape the data from 2 different source, I need to make sure all the player name is consistent so it can all be merged with the original data.

In [32]:
player_val = pd.read_csv('./data/player_valuation.csv')

In [33]:
player_val_split = player_val['Player'].str.split(' ', expand=True)

player_val['Player'] = player_val_split[0]+' ' +player_val_split[1]

In [34]:
check = player_val['Player'].isin(all_stats['Player'])
player_val[~check]

,#,Player,Nat.,Age,Club,Highest value in career,Last update,Market value
4,5.0,Rodri Defensive,NaN,27.0,NaN,€110.00m,"Dec 19, 2023",€110.00m
15,16.0,Josko Gvardiol,NaN,22.0,NaN,€80.00m,"Mar 14, 2024",€75.00m
22,23.0,Alexis Mac,NaN,25.0,NaN,€70.00m,"Mar 14, 2024",€70.00m
26,27.0,Gabriel Magalhães,NaN,26.0,NaN,€65.00m,"Mar 14, 2024",€65.00m
30,31.0,Jérémy Doku,NaN,21.0,NaN,€65.00m,"Dec 19, 2023",€65.00m
36,37.0,Kevin De,NaN,32.0,NaN,€150.00m,"Dec 19, 2023",€60.00m
45,46.0,Mohammed Kudus,NaN,23.0,NaN,€50.00m,"Mar 14, 2024",€50.00m
47,48.0,Heung-min Son,NaN,31.0,NaN,€90.00m,"Dec 19, 2023",€50.00m
54,55.0,Micky van,NaN,22.0,NaN,€50.00m,"Mar 14, 2024",€50.00m
69,70.0,Joelinton Central,NaN,27.0,NaN,€42.00m,"Dec 19, 2023",€42.00m
76,77.0,Ederson Goalkeeper,NaN,30.0,NaN,€70.00m,"Dec 19, 2023",€40.00m
78,79.0,Jurrien Timber,NaN,22.0,NaN,€45.00m,"Dec 19, 2023",€40.00m
79,80.0,Richarlison Centre-Forward,NaN,26.0,NaN,€65.00m,"Mar 14, 2024",€40.00m
85,86.0,Pape Matar,NaN,21.0,NaN,€40.00m,"Mar 14, 2024",€40.00m
96,97.0,Mykhaylo Mudryk,NaN,23.0,NaN,€60.00m,"Mar 14, 2024",€35.00m

As evident, there are numerous instances where the player names do not match the subset of the original data. This discrepancy arises primarily from two reasons: firstly, players with single-word names are not split correctly, and secondly, there are issues with the naming format. Instead of automating the process, I opted to manually rectify these discrepancies directly in the CSV file.

In [41]:
player_val = pd.read_csv('./data/player_val_cleaned.csv')
check = player_val['Player'].isin(df['Player'])
player_val[~check]

Empty DataFrame
Columns: [Unnamed: 0, #, Player, Nat., Age, Club, Highest value in career, Last update, Market value]
Index: []

Once I completed cleaning, all player names in the valuation table matched those in the subset of the original data.